{% extends 'base.html' %}

{% block content %}
  <div class="infinite-container">
    {% for article in sarticles %}
      <div class="infinite-item">{{ article.title }} - {{ article.publication }}</div>
    {% endfor %}
  </div>
  {% if sarticles.has_next %}
     <a class="infinite-more-link" href="?page={{ sarticles.next_page_number }}">More</a>
  {% endif %}

  <script>
        var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
            $('.loading').show();
          },
          onAfterPageLoad: function ($items) {
            $('.loading').hide();
          }
        });
      </script>
{% endblock %}